body {
  margin: 0;
  padding: 0;
  
  
}
.container{

  display: grid;
  grid-template-columns: 0.92fr 10fr;
  grid-template-rows: 0.5fr 10fr;
  background-color: #0a0b1b;
  height: 100vh;
  color: white;

}
/* TopBarDefaultCss */

.header{
  grid-column: 1/-1;
  background-color: #0b0b23;
  display: grid;
  grid-template-columns: 1fr 10fr;
  border-bottom: 0.5px solid #2b2c44;
  height: 55px;
}

.bars{
  grid-column: 1/2;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 13px;
  cursor: pointer;
  
}

.left-header{
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-right: 0.5px solid #2b2c44;
  
} 
.logo{
  padding-top: 5px;
  padding-right: 57px;
  cursor: pointer;
}
/* sidebar css */
.sidebar{
  grid-column: 1/2;
  grid-row:2/2;
  background-color: #17172e;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 4fr;
  font-family:Helvetica, sans-serif;
  width: 220px;
  z-index: 1;
  border-right: 0.5px solid #2b2c44;
}
.tierlist,.champion,.items{
  padding-top:30px;
  padding-left:40px;
  font-size: 14px;
  color:#8c8faa;
}

/* middle area css */

.middle-area{
  
  display:flex;
  flex-direction: column;
  height: 100vh;
 
   
 
 
  
}


.video-area{
  position: absolute;
  object-fit: cover;
  width: 100vw;
  left: 90%;
  height: 100vh;
  transform: translate(-90%,0%);

  width: 100%;
  filter: brightness(53%);
  
  


}






input[type=text] {
  position: absolute;
  border: 1px solid grey;
  border-radius: 40px;
  height: 35px;
  width: 40%;
  /* padding: 10px 60px 10px 48px; */
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
  outline: 0;
  background-color: #f5f5f5;
  z-index: 2;
  font-size: 20px;
  transform: translate(45%,538%);
  
}


form > button{
 margin-left: 1030px;
 margin-top: 325px;
  position: relative;
  z-index: 3;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
}


.logoMiddle {
  z-index: 3;
  position: absolute;
  transform: translate(162%,190%);
  
}

.middle-area > h1 {
  position: absolute;
  z-index: 3;
  transform: translate(252%,350%);
}
button {
  border: none;
 
  }
.middle-area > button{
  z-index: 5;
  position: absolute;
  transform: translate(360%,550%);
  padding: 12px 40px 12px 40px;
  background-color: #3273fa;
  border-color: #3273fa;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  
 
}

@media (max-width: 1440px ){
  .logoMiddle {
    z-index: 3;
    position: absolute;
    transform: translate(130%,190%);
}

.middle-area > h1 {
  position: absolute;
  z-index: 3;
  transform: translate(225%,350%);
}
.middle-area > button {
  z-index: 5;
  position: absolute;
  transform: translate(320%,550%);
  padding: 12px 40px 12px 40px;
  background-color: #3273fa;
  border-color: #3273fa;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.search {
  position: absolute;
  border: 1px solid grey;
  border-radius: 40px;
  height: 35px;
  width: 40%;
  
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 82px;
  outline: 0;
  background-color: #f5f5f5;
  z-index: 2;
  font-size: 20px;
  transform: translate(55%,538%);
}
form > button {
  margin-left: 880px;
  margin-top: 325px;
  position: relative;
  z-index: 3;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
}
}